<section class="section">
  <div class="container">
      <h1 class="title">Coupon</h1>
      <h2 class="subtitle">
          Gain coins and use them for coupons!
      </h2>
  </div>
</section>

<div class="columns">
  <div class="column is-one-third">
      <h4 class="subtitle is-4">Hong Kong Island</h4>
      <% hkiCoupons.forEach( function(coupon) { %>
          <div class="card">
              <div class="card-image">
                  <figure class="image is-4by3">
                      <img style="object-fit:cover" src="<%= coupon.image%>" alt="Restaurant image">
                  </figure>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h2 class="title has-text-warning">
                          <a class="has-text-warning" href="/details/<%= coupon.id%>">
                              <%= coupon.restaurant%>
                          </a>
                      </h2>
                          <p><%= coupon.detail%></p>
                          <p>
                              <span class="icon">
                                  <i class="fas fa-coins"></i>
                              </span>
                              <%= coupon.coins%>
                          </p>
                  </div>
              </div>
          </div>
          <br>
      <% }); %>
  </div>

  <div class="column is-one-third">
      <h4 class="subtitle is-4">New Territories</h4>
      <% ntCoupons.forEach( function(coupon) { %>
          <div class="card">
              <div class="card-image">
                  <figure class="image is-4by3">
                      <img style="object-fit:cover" src="<%= coupon.image%>" alt="Restaurant image">
                  </figure>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h2 class="title has-text-warning">
                          <a class="has-text-warning" href="/details/<%= coupon.id%>">
                              <%= coupon.restaurant%>
                          </a>
                      </h2>
                          <p><%= coupon.detail%></p>
                          <p>
                              <span class="icon">
                                  <i class="fas fa-coins"></i>
                              </span>
                              <%= coupon.coins%>
                          </p>
                  </div>
              </div>
          </div>
          <br>
      <% }); %>
  </div>

  <div class="column is-one-third">
      <h4 class="subtitle is-4">Kowloon</h4>
      <% klCoupons.forEach( function(coupon) { %>
          <div class="card">
              <div class="card-image">
                  <figure class="image is-4by3">
                      <img style="object-fit:cover" src="<%= coupon.image%>" alt="Restaurant image">
                  </figure>
              </div>
              <div class="card-content">
                  <div class="content">
                      <h2 class="title has-text-warning">
                          <a class="has-text-warning" href="/details/<%= coupon.id%>">
                              <%= coupon.restaurant%>
                          </a>                            
                      </h2>
                          <p><%= coupon.detail%></p>
                          <p>
                              <span class="icon">
                                  <i class="fas fa-coins"></i>
                              </span>
                              <%= coupon.coins%>
                          </p>
                  </div>
              </div>
          </div>
          <br>
      <% }); %>
  </div>
</div>